@model EagleDigital.Web.Areas.Music.Models.AllinOneModelView

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
<link href="~/Scripts/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet" />



<div class="row">
   
  <div class="col-sm-4"><div id="divPlaySong"></div></div>
  <div class="col-sm-3"><div id="divListSong"></div></div>
    <div class="col-sm-2">
        <div id="divListAuthor"></div>
        <div id="divListGenre"></div>
    </div>
    
    <div class="col-sm-3">
        <div id="divUploadMusic"></div>
        <div id="divCreateUpdateAuthor"> divCreateUpdateAuthor</div>
        <div id="divCreateUpdateGenre"> divCreateUpdateGenre</div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function() {
        $("#divUploadMusic").load('@Url.Action("Upload","Home")');
        $("#divPlaySong").load('@Url.Action("Play","Home")');
        $("#divListSong").load('@Url.Action("ListSong","Home")');
        $("#divListAuthor").load('@Url.Action("ListAuthor","Home")');
        $("#divListGenre").load('@Url.Action("ListGenre","Home")');
    });
</script>